/* ------------------------
    RESET
------------------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------
    GENERAL
------------------------ */
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-s{
    max-width: 1200px;
}

.container-max{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100%;
}

section{
    padding-top: 80px;
    padding-bottom: 40px;
}

section.gap-50 .row{
    gap: 50px;
}

.top-col{
    text-align: center;
    border: 1px solid lightgrey;
    padding: 10px 0;
    font-size: 14px;
}

ul{
    list-style: none;
}

.bold{
    font-weight: 600;
    margin-bottom: 12px;
}

.txt-gray{
    color: gray;
    margin-bottom: 50px;
}

.border-10{
    border: solid 10px rgba(255, 255, 255, 0.3);
    display: none;
}

.check-blu{
    color: #0161FF;
}

.no-padding-bottom{
    padding-bottom: 0;
}

/* ------------------------
    BG-COLOR
------------------------ */
.bg-green{
    background-color: #A1D39B;
}

.bg-brown{
    background-color: #61082B;
}

.bg-aqua{
    background-color: #0093CE;
}

.bg-red{
    background-color: #FF1C1D;
}

.bg-bordeaux{
    background-color: #D5001E;
}

.bg-lightblue{
    background-color: #B4D0E7;
}

.bg-blue{
    background-color: #0D2482;
}

.bg-yellow{
    background-color: #FCD62E;
}

.bg-light-blue{
    background-color: #B4D0E7;
}

/* ------------------------
    TYPOGRAPHY
------------------------ */
h1{
    font-size: 80px;
    margin-bottom: -30px;
}

h2{
    font-size: 40px;
    padding-bottom: 40px;
}

h3{
    font-size: 25px;
    margin-bottom: 20px;
}

h4{
    font-size: 20px;
}

/* ------------------------
    COL
------------------------ */
.col-20{
    width: 20%;
}

.col-25{
    width: 25%;
}

.col-30{
    width: 30%;
}

.col-33{
    width: calc(100% / 3);
}

.col-35{
    width: 35%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-75{
    width: 75%;
}

.col-80{
    width: 80%;
}

.col-100{
    width: 100%;
}

/* ------------------------
    BUTTON
------------------------ */
.btn{
    background-color: transparent;
    border: 1px solid #0161FF;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    margin: 40px 0;
}

.btn-blue{
    background-color: #0161FF;
}

.btn-white{
    background-color: white;
    padding: 14px 16px;
    border: 1px solid black;
    color: gray;
}

.btn-big{
    width: 100%;
}

.appear{
    opacity: 0.7;
    display: none;
}

.appear-blue{
    display: none;
    background-color: #0D2482;
    color: white;
}

.button-hover:hover .btn{
    display: none;
}

.button-hover:hover .appear{
    display: block;
}

.button-hover:hover .appear-blue{
    display: block;
}

/* ------------------------
    HEADER
------------------------ */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header ul{
    display: flex;
}

nav{
    display: flex;
    padding: 15px 15px;
}

.logo{
    margin-right: 20px;
    margin-top: 6px;
}

li.nav{
    padding: 0 20px;
    transform: translate(0 , 22%);
}

li.nav a{
    text-decoration: none;
    color: black;
}

header .btn{
    margin: 0;
}

/* ------------------------
    MAIN
------------------------ */
.hero{
    background-color: #B4D0E7;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 0;
}

.row-s{
    position: relative;
    bottom: -80px;
}

.arrow-down img{
    position: absolute;
    left: -8px;
    bottom: 100px;
    width: 50px;
}

/* section business */
.fattura{
    margin: 50px 0;
    font-size: 14px;
}

.fattura input:last-child{
    margin-left: 60px;
}

.top-col i{
    padding-right: 4px;
}

.bottom-col{
    line-height: 26px;
    padding: 40px 26px;
    border: 1px solid lightgrey;
    border-top: none;
    height: 100%;
    padding-bottom: 0;
}

.bottom-col ul li{
    display: flex;
}

.font-a{
    margin-right: 6px;
}

li div:last-child{
    margin-bottom: 20px;
}

hr{
    margin: 40px 0;
    width: 20%;
    color: gray;
}

.col-100 .top-col{
    margin-top: 40px;
}

.col-100 .bottom-col{
    display: flex;
    height: auto;
    justify-content: space-between;
}

.col-100 p{
    margin: 50px 0;
}

.col-100 .btn{
    margin: 0px;
}

/* section partner */
.col-35 h3{
    margin-top: 60px;
}

/* section square */
.col-33-vw{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    aspect-ratio: 1;
    cursor: pointer;
}

.col-33-vw .logo img{
    width: 50%;
    height: 50%;
}

.container-max div.col-33-vw:nth-child(2){
    padding: 50px 30px;
    background-color: #F5F5F5;
    display: block;
}

.container-max div.col-33-vw p{
    margin-bottom: 60px;
}

.square img{
    width: 50%;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50% , -50%);
    filter: invert(1);
}

.col-50:hover .bg-green{
    display: none;
}

.col-50:hover .bg-brown{
    display: none;
}

.col-50:hover .bg-aqua{
    display: none;
}

.col-50:hover .bg-red{
    display: none;
}

.col-50:hover .bg-bordeaux{
    display: none;
}

.col-50:hover .bg-lightblue{
    display: none;
}

.col-50:hover .bg-blue{
    display: none;
}

.col-50:hover .bg-yellow{
    display: none;
}

.col-50:hover .border-10{
    display: block;
}

/* section trial */
.c-bordeaux{
    color: #611435;
}

.bg-light-blue .row{
    justify-content: space-between;
}

.col-33 button{
    border: none;
    margin-top: 10px;
}

section.faq{
    padding: 120px 0;
}

section.faq li{
    position: relative;
    padding: 30px 0;
    border-top: 1px solid lightgray;
}

.angle-down{
    position: absolute;
    right: 30px;
    top: 40%;
}

section.faq li:last-child{
    border-bottom: 1px solid lightgray;
}

.faq .container li:hover i{
    transform: rotate(180deg);
}

.faq-text{
    display: none;
    padding-top: 50px;
    font-weight: 100;
}

.faq .container li:hover p{
    display: block;
}
/* ------------------------
    FOOTER
------------------------ */
footer{
    background-color: black;
    color: white;
    font-size: 14px;
}

footer .container{
    padding: 80px 0;
}

footer ul{
    padding: 20px 0;
}

footer li{
    line-height: 36px;
}

footer li a{
    color: white;
    text-decoration: none;
}

footer hr{
    width: 100px;
}

.language{
    color: #999999;
}

.padding-language{
    padding-left: 4px;
}